<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415546090835-g0didtvi9aeg3uas5anl2308ejn1ejig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415546090835-g0didtvi9aeg3uas5anl2308ejn1ejig</string>
	<key>API_KEY</key>
	<string>AIzaSyBKpsl29XeN6hvKjOyDdUF1YkALmfxr_JM</string>
	<key>GCM_SENDER_ID</key>
	<string>415546090835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bernie.t4a</string>
	<key>PROJECT_ID</key>
	<string>trx-traklist</string>
	<key>STORAGE_BUCKET</key>
	<string>trx-traklist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415546090835:ios:174ada3fd101494eb26da6</string>
</dict>
</plist>